.profile {
    text-align: center;
}

.profile img {
    border: 10px solid #2e2c2d;
    border-radius: 50%;
    max-width: 500px;
}

.profile h2,
.profile p {
    text-align: center;
    color: #2e2c2d;
}

@media (prefers-color-scheme: dark) {
    .profile h2,
    .profile p {
        color: #fbfbfb;
    }

    .profile img {
        border-color: #fbfbfb;
    }
}