* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #e7e7e7;
}

#root {
    margin: 0 auto;
    justify-content: center;
    max-width: 1200px;
}

img {
    width: 100%;
}

h1 {
    font-size: 48px;
    color: #b21a21;
    border-bottom: 1px solid #b21a21;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

p, a, li {
    font-size: 18px;
}

section h1 {
    text-align: center;
}

section {
    padding: 10px;    
}