.repo {
    background-color: #fbfbfb;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.repo:first-of-type {
    margin-top: 0px;
}

.repo-header {
    display: flex;
}

.repo-header a {
    color: #2e2c2d;
}

.repo-header img {
    width: 32px;
    margin-right: 10px;
}

