.repos>ul {
    display: grid;
    gap: 16px;
}

.repo-link {
    color: #2e2c2d;
}

.repo {
    background-color: #fbfbfb;
    padding: 16px;
    border-radius: 8px;
}

.repo:hover {
    outline: 4px solid #2e2c2d;
}

.repo-header {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 2px solid #2e2c2d;
}

.repo-header img {
    width: 32px;
    margin-right: 16px;
}

.repo-body {
    padding: 8px 0px 0px 0px;
}