.repos>ul {
    display: grid;
    gap: 16px;
}

.repo-link {
    color: #2e2c2d;
}

.repo {
    background-color: #fbfbfb;
    padding: 16px;
    border-radius: 8px;
}

.repo:hover {
    outline: 4px solid #2e2c2d;
}

.repo-header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #2e2c2d;
    padding-bottom: 8px;
}

.repo-header img {
    width: 32px;
    margin-right: 16px;
}

.repo-body {
    padding-top: 8px;
}

@media (prefers-color-scheme: dark) {
    .repo {
        background-color: #2e2c2d;
        color: #fbfbfb;
    }

    .repo:hover {
        outline: 4px solid #fbfbfb;
    }

    .repo-header {
        border-bottom: 2px solid #fbfbfb;
    }
    
}